:root {
  --whiteTextColor: #F4F4F4;
  --blackTextColor: #121212;

  --buttonColor: #020059;

  --whiteBackground: #F4F4F4;
  --greyBackground: #ECEAEA;

  --font: 'Roboto Slab', serif;
}

html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth; 
}

/* body *{
	transition: 0.3s;
} */

/* header {
  overflow: auto;
}  */

.main-container{
	max-width: 1600px;
  margin: 0 auto;
}

.background-image {
  width: 100%;
  background-image: url(images/header.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
 }

 h1, h2, p {
   color: var(--whiteTextColor);
   font-family: var(--font);
 }

 h1 {
  font-weight: 900;
  font-size: 55px;
 }

 h2 {
   font-weight: 600;
   font-size: 35px;
   text-transform: uppercase;
 }

 h3 {
   color: var(--blackTextColor);
   font-family: var(--font);
   font-weight: 600;
   font-size: 28px;
   text-transform: uppercase;
 }

 p {
   font-weight: 400;
   font-size: 23px;
 }
 
 .greeting-wrapper{
	display: grid;
	text-align: center;
	align-content: center;
}

.intro-wrapper {
  display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'left-column right-column'
  ;
}

.left-column {
  grid-area: left-column;
  display: flex;
  justify-content: center;
}

.right-column{
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding: 10px;
}

.about-wrapper {
  background-color: var(--whiteBackground);
  display: grid;
	grid-template-columns: repeat(auto-fit, 524px);
	gap:10px;
	justify-content: space-evenly; 
	/* padding-bottom: 50px; */
}

.about-p {
  color: var(--blackTextColor);
  font-size: 20px;
  font-weight: 400;
}

/* .more-column {
  padding: 0 5rem 0 5rem;
}

.expertise-column {
  padding: 0 5rem 0 5rem;
} */

#terminal {
  /* height: 300px; */
  /* width: 100%; */
  background-image: url(images/subhero.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

li {
  font-family: var(--font);
  color: var(--whiteTextColor);
  font-size: 20px;
  font-weight: 600;
}




@media screen and (max-width: 768px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 
      'left-column' 
      'right-column'
    ;
  }

  .right-column {
    justify-items: center;
  }

  .right-column p {
    text-align: center;
  }

  h1 { font-size: 45px; }
  h2 { font-size: 25px; }
  p  { font-size: 18px; }

  #profile-pic {
    display: block;
	  margin: 0 auto;

	  height: 200px;
	  width: 200px;
	  object-fit: cover;
  }

  .about-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      'more-column' 
      'expertise-column'
    ;
    padding: 0 40px 0 40px;
    
  }

  #terminal {
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 480px) {
  h1 { font-size: 30px; }
  h2 { font-size: 20px; }
  p  { font-size: 15px; }
}

